body {
    background: rgba(182, 186, 196, 0.877);
}

section {
    box-shadow: 4px 0px 10px rgba(93, 109, 151, 0.1);
}

.img {
    height: 500px;
    filter: brightness(60%);
}



.text-slide {
    color: rgb(254, 254, 254);
    font: 900;
    box-shadow: 4px 0px 10px rgba(93, 109, 151, 0.1);
    transform: rotate(0.19deg);
}
