@{
    Layout = "_Layout";
}

@section Style {
    <link href="~/css/energy/index.css" rel="stylesheet" />
}

<section class="container-xxl">

    <div class="row">
        <div class="col-md-9 col-sm-6">
            @RenderBody()
        </div>

        <div class="col-md-3 col-sm-6">
            @await RenderSectionAsync("Column", required: false)

            <p>
                Разнообразный и богатый опыт рамки и место обучения кадров позволяет выполнять важные задания
                по разработке направлений прогрессивного развития.
                Равным образом начало повседневной работы по формированию позиции позволяет выполнять важные задания
                по разработке соответствующий условий активизации.
                Таким образом постоянное информационно-пропагандистское обеспечение
                нашей деятельности играет важную роль в формировании существенных финансовых и
                административных условий. Разнообразный и богатый опыт постоянное информационно-пропагандистское
                обеспечение нашей деятельности позволяет оценить значение дальнейших направлений развития.
            </p>
        </div>
    </div>
</section>
